# Python cache and metadata
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo

# Virtual environment
.venv/
env/
venv/


# default for DBs, configs
instance/
*.db

# Dotenv files 
.env

# output folder where processed data is stored
# Ignore all CSV files in output/
output/*.csv
# But keep the folder (by tracking .gitkeep)
!output/.gitkeep

# vscode config
.vscode/