<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ETL Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <header class="header">
    <span>Welcome, {{ username }}!</span>
    <a href="{{ url_for('main.logout') }}">
      <button>Logout</button>
    </a>
  </header>

  <main class="main-content">
    <div class="center-box">
      <h1>Your store  statistics<br><strong>LibroTics</strong></h1>

      <div class="button-group">
        <form action="{{ url_for('main.trigger_etl') }}" method="post" style="display:inline;">
          <button class="etl-btn" type="submit">Run ETL Process</button>
        </form>
        <form action="{{ url_for('main.visualize') }}" method="get" style="display:inline;">
          <button class="data-btn" type="submit">View Visualizations</button>
        </form>
      </div>

      {% if message %}
        <p id="success-msg">{{ message }}</p>
      {% else %}
        <p id="success-msg" style="display: none;">ETL completed successfully!</p>
      {% endif %}

      <div class="image-container">
        <img src="{{ url_for('static', filename='bookstor.png') }}" alt="ETL Bookstore">
      </div>
    </div>
  </main>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
