<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BIBLIO Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
    <div class="container">
       <center> <h1 class="logo">📚 LibroTics</h1></center>
        <form class="login-box" method="POST">
            <label>Username</label>
            <input type="username" name="username" required placeholder="username">
            
            <label>Password</label>
            <input type="password" name="password" required placeholder="Password">
            
            <div class="forgot">
                <a href="#">Forgot password?</a>
            </div>
            
            <button type="submit">Log in</button>
            

        </form>
    </div>
</body>
</html>